# COMP 421 Fall 2022 Assignment 2

<img src="https://comp421.cs.unc.edu/static/images/COMP421Logo.png" 
     align="right" style="display:inline; width:100px; ">

Answer each question below by filling in code at the point indicated.
Do not modify any cells that say <font color="red">"You cannot and should not update this cell"!</font>

You __<font color="red">must</font>__ run the cells in order. It looks like you can come back later after restarting and pick up where you left off but that is not the case. When restarting you always have to start at the top of the notebook and run each cell in turn. 

The data supplied to you in this assignment will be graded with slightly different data.
For example, if a question asks you to create a list of names from the 
database and your code simply sets the list to the answers without 
querying the database, your answer will not be accepted by the grader.

In [2]:
# You cannot and should not update this cell
# setup
%autosave 15
import sqlite3
conn = sqlite3.connect('football.sqlite')
cursor = conn.cursor()
cursor.execute('PRAGMA foreign_keys = ON')

import comp421
check, report = comp421.start('A2')

Autosaving every 15 seconds

In [3]:
# fill in your info here
Author = "yuchencc"
Collaborators = ["list", "their", "onyens"]

In [4]:
# You cannot and should not update this cell
check('Author', Author != 'youronyen', points=1, sort=True)
check('Collaborators', Collaborators != ['list', 'their', 'onyens', 'here'], points=1, sort=True)

Author appears correct
Collaborators appears correct

<img src="https://collegefootballdata.com/LetterLogo.png" width="200" style="float: right"/>

The database we'll be using in `football.sqlite`.
It is my attempt to get as much information from college football in one place.
The information was taken from [CollegeFootballData.com](https://collegefootballdata.com/) which
is a sports statistics and analytics website with no direct affiliation to the NCAA, its member conferences, or its member teams.

<p/>
If there are mistakes in the data, it's all my fault.
This is **not** an official database.

This database has the following schema:
```
CREATE TABLE Conferences
     (conf_id INTEGER PRIMARY KEY,
      name TEXT,
      long_name TEXT)
      
CREATE TABLE Teams
     (team_id INTEGER PRIMARY KEY,
      school_name TEXT,
      mascot TEXT,
      conf_id INTEGER,
      FOREIGN KEY(conf_id) REFERENCES Conferences(conf_id) ON DELETE CASCADE)
      
CREATE TABLE Stadiums
     (stadium_id INTEGER PRIMARY KEY,
      name TEXT,
      capacity INTEGER,
      city TEXT,
      state TEXT,
      zip TEXT,
      latitude REAL,
      longitude REAL,
      elevation REAL,
      team_id INTEGER,
      FOREIGN KEY(team_id) REFERENCES Teams(team_id) ON DELETE CASCADE)

CREATE TABLE Rosters
    (roster_id INTEGER PRIMARY KEY,
     first_name TEXT,
     last_name TEXT,
     height INTEGER,
     weight INTEGER,
     year INTEGER,
     position TEXT,
     city TEXT,
     state TEXT,
     zip TEXT,
     latitude REAL,
     longitude REAL,
     jersey_number INTEGER,
     team_id INTEGER,
     FOREIGN KEY(team_id) REFERENCES Teams(team_id) ON DELETE CASCADE)
     
CREATE TABLE Games
    (game_id INTEGER PRIAMRY KEY,
     home_team_id INTEGER,
     home_team TEXT,
     away_team_id INTEGER,
     away_team TEXT,
     start_date TEXT,
     stadium_id INTEGER,
     completed INTEGER,               -- 0 False, otherwise True
     conference_game INTEGER,         -- 0 False, otherwise True
     attendance INTEGER DEFAULT NULL, -- NULL until game starts
     home_points INTEGER,
     away_points INTEGER,
     week INTEGER,                    -- Conference week number
     FOREIGN KEY(home_team_id) REFERENCES Teams(team_id) ON DELETE SET NULL,
     FOREIGN KEY(away_team_id) REFERENCES Teams(team_id) ON DELETE SET NULL,
     FOREIGN KEY(stadium_id) REFERENCES Stadiums(stadium_id) ON DELETE SET NULL)
```

Write code in the cells below to answer each question.

## 1. Find the following using SQL queries

**1a** UNC is known the college football database as 'North Carolina'.

Set variable `q1a` equal to the mascot name of UNC.

In [5]:
# write your query as a single string here
a1a = """SELECT mascot
            FROM Teams
            WHERE school_name = 'North Carolina';"""

# code to execute your query, leave this alone
q1a = cursor.execute(a1a).fetchone()[0]
print(f'The mascot of school North Carolina is {q1a}.')

The mascot of school North Carolina is Tar Heels.

In [6]:
# you cannot and should not update this cell
check('1a', q1a, points=8)

1a appears correct

**1b**. According to the college football database, how many teams are in the conference named 'ACC'?

Set the variable `q1b` equal to the number of teams in the conference named 'ACC'.

In [7]:
a1b = """SELECT COUNT(*)
        FROM Conferences AS C, Teams AS T
        WHERE name = 'ACC' AND C.conf_id = T.conf_id"""

# test code
q1b = cursor.execute(a1b).fetchone()[0]
print(f'According to the college football database there are {q1b} teams in the ACC football conference.')

According to the college football database there are 14 teams in the ACC football conference.

In [8]:
# you cannot and should not update this cell
check('1b', q1b, points=10)

1b appears correct

**1c**. Again, according to the college football database,
what are the school names and mascots of teams in the ACC?

Set the variable `q1c` equal to the result of a SQL query that returns a Python list of tuples where the first tuple element is the school name and the second tuple element is the mascot.  The Python list should be in alphabetical order according to mascot.

In [9]:
a1c = """SELECT T.school_name, T.mascot
            FROM Teams AS T, Conferences AS C
            WHERE C.name = 'ACC' AND C.conf_id = T.conf_id
            ORDER BY T.mascot;"""

# test
q1c = cursor.execute(a1c).fetchall()
for row in q1c:
    print(f'{row[0]} has a mascot named {row[1]}')

Duke has a mascot named Blue Devils
Louisville has a mascot named Cardinals
Virginia has a mascot named Cavaliers
Wake Forest has a mascot named Demon Deacons
Boston College has a mascot named Eagles
Virginia Tech has a mascot named Hokies
Miami has a mascot named Hurricanes
Syracuse has a mascot named Orange
Pittsburgh has a mascot named Panthers
Florida State has a mascot named Seminoles
North Carolina has a mascot named Tar Heels
Clemson has a mascot named Tigers
NC State has a mascot named Wolfpack
Georgia Tech has a mascot named Yellow Jackets

In [10]:
# you cannot and should not update this cell
check('1c', q1c, points=10)

1c appears correct

**1d**. What is the stadium name and seating capacity of the UNC football team?

Write a SQL query that returns the stadium name and stadium capacity for UNC and
assign it's output to `q1d`.

In [11]:
q1d = """SELECT S.name, S.capacity
            FROM Teams AS T, Stadiums AS S
           WHERE T.school_name = 'North Carolina' AND T.team_id =S.team_id"""
    
q1d = cursor.execute(q1d).fetchall()[0]

print(f'UNC uses stadium {q1d[0]} with a capacity of {q1d[1]} for home football games.')

UNC uses stadium Kenan Memorial Stadium with a capacity of 50500 for home football games.

In [12]:
# You cannot and should not update this cell
check('1d', q1d, points=10)

1d appears correct

**1e**. By seating capacity, what is the largest stadium in the ACC?

Write a SQL query that returns the school name, stadium name, and stadium capacity for the
school in the ACC with the largest capacity football stadium?

In [13]:
q1e = """SELECT T.school_name, S.name, S.capacity
            FROM Stadiums AS S, Teams AS T, Conferences AS C
            WHERE C.name = 'ACC' AND C.conf_id = T.conf_id AND T.team_id = S.team_id 
            AND S.capacity = (SELECT MAX(S2.capacity)
                                                    FROM Stadiums AS S2, Conferences AS C2, Teams AS T2
                                                    WHERE C2.name = 'ACC' AND C2.conf_id = T2.conf_id AND T2.team_id = S2.team_id)"""

q1e = cursor.execute(q1e).fetchall()[0]
print(f'The largest stadium capacity in the ACC is stadium {q1e[1]} used by {q1e[0]} with a capacity of {q1e[2]}')

The largest stadium capacity in the ACC is stadium Memorial Stadium used by Clemson with a capacity of 81500

In [14]:
# You cannot and should not update this cell
check('1e', q1e, points=10)

1e appears correct

## 2. Fill in the body of the functions below.

**2a**. Fill in the code below to make this function return the full name (first, single blank, then last name) of
the football player with the lowest number jersey from the school name passed in.
If multiple people have the same number, return the player with that jersey number that has a last name that appears alphabetically last.

**INPUT**: The function will take a parameter `school_name`.<br />     
**OUTPUT**: The function will return a single string with the full name of the football player from that school with the lowest, non-null jersey number.
If multiple players have the same jersey number, return the full name of the player with that jersey number that has a last name that appears last alphabetically.

**NOTE:** In college football, player can have no number to signify a student who is not actively playing on the team.
For example, [UNC Defensive Back, Ja'Qurious Conley](https://goheels.com/sports/football/roster/ja-qurious-conley/23313) suffered a season-ending injury on the opening kickoff against Wofford and has a jersey number of NULL

In [15]:
def f2a(school_name):
    q2a = """SELECT first_name||" "||last_name
        FROM Rosters AS R, Teams AS T
        WHERE T.school_name = ? AND R.team_id = T.team_id 
            AND R.jersey_number = (SELECT MIN(R2.jersey_number) 
                                    FROM Rosters AS R2,Teams AS T2
                                    WHERE T2.school_name = ? AND R2.team_id = T2.team_id )
        ORDER BY last_name DESC"""
    q2a = cursor.execute(q2a,(school_name, school_name)).fetchall()[0][0]
    
    return q2a

school_name = 'North Carolina'
q2a = f2a(school_name)
print(f'{q2a} plays at {school_name} and has the lowest jersey number')

Tony Grimes plays at North Carolina and has the lowest jersey number

In [16]:
# You cannot and should not update this cell
teams = ['Boston College', 'Duke', 'North Carolina', 'NC State', 'Wake Forest']
for index, team in enumerate(teams):
    q2a = f2a(team)
    print(f'{q2a} player at school {team} and has the lowest jersey number')
    check(f'2a-{index+1}', q2a, points=10/len(teams))

Jaelen Gill player at school Boston College and has the lowest jersey number
2a-1 appears correct
Jontavis Robertson player at school Duke and has the lowest jersey number
2a-2 appears correct
Tony Grimes player at school North Carolina and has the lowest jersey number
2a-3 appears correct
Isaiah Moore player at school NC State and has the lowest jersey number
2a-4 appears correct
Caelen Carson player at school Wake Forest and has the lowest jersey number
2a-5 appears correct

**2b.** Write a function that takes as input a conference name and a week number and returns the maximum number of points scored by the home team in a conference game in that week.

**INPUT:** A conference game and a week number  
**OUTPUT:** The maximum number of points scored by the home team in a conference game in that week.
If there were no conference games that week, the return Python `None`.

In [17]:
def f2b(conf_name, week_number):
    q2b = """SELECT MAX(G.home_points)
                FROM Conferences AS C, Games AS G, Teams AS T, Stadiums AS S
                WHERE C.conf_id = T.conf_id AND T.team_id = S.team_id AND S.stadium_id = G.stadium_id
                AND C.name = ? AND G.week = ? AND G.conference_game = 1"""
    q2b = cursor.execute(q2b, (conf_name,week_number)).fetchone()[0]
    return q2b
conf_name = 'ACC'
week_number = 1
q2b = f2b(conf_name, week_number)
print(f'The maximum number of points scored by a home team in an {conf_name}',
      f'conference game in week {week_number} is {q2b}' )

The maximum number of points scored by a home team in an ACC conference game in week 1 is 31

In [18]:
# You cannot and should not update this cell
conf_name = 'ACC'
for week_number in range(1, 5):
    q2b = f2b(conf_name, week_number)
    print(f'The maximum number of points scored by a home team in an {conf_name}',
          f'conference game in week {week_number} is {q2b}' )
    check(f'2cb-{week_number}', q2b, points=5)

The maximum number of points scored by a home team in an ACC conference game in week 1 is 31
2cb-1 appears correct
The maximum number of points scored by a home team in an ACC conference game in week 2 is None
2cb-2 appears correct
The maximum number of points scored by a home team in an ACC conference game in week 3 is None
2cb-3 appears correct
The maximum number of points scored by a home team in an ACC conference game in week 4 is None
2cb-4 appears correct

**2c**. Write a function that determines the most points scored 
by one team in the first week of the season where one of the 
teams is in the conference name parameter.
The function should return the a tuple of information:
the home team's points, the home team's school name, the away team's points, and the away team's school name.
Since multiple games could have the most points scored,
the function should return an array of tuples that has the information of all games that had the most points scored by one team.

**INPUT**: The function will take a parameter `conf_name`.<br />
**OUTPUT** A Python list of tuples such that  each tuple contains the home team's points and school name along with the away team's points and school name.
Each of tuple information of games in the first week should one team from `conf_name` and one of the teams in each game should have scored the most points for week 1.


**NOTE:** I highly recommend that you write a single query to return the information.
You can do it in multiple queries, but that is less efficient.

In [28]:
#conditions: week: first conf_name = conf_name -> home team; score most->away team
def f2c(conf_name):
    q2c = """WITH temp1 AS (SELECT G.home_points, G.home_team, G.away_points, G.away_team
                FROM Games AS G, Conferences AS C, Teams As T
                WHERE (G.week = 1 AND C.name = ? AND C.conf_id = T.conf_id AND T.team_id = G.home_team_id) 
                OR (G.week = 1 AND C.name = ? AND C.conf_id = T.conf_id AND T.team_id = G.away_team_id)),
                temp2 AS (SELECT max(home_points) AS maxH, max(away_points) AS maxA
                            FROM temp1)
                SELECT T1.home_points, T1.home_team, T1.away_points, T1.away_team
                            FROM temp1 AS T1, temp2 AS T2
                            WHERE (T2.maxH> T2.maxA AND T1.home_points = T2.maxH)
                                                    OR 
                                  (T2.maxH< T2.maxA AND T1.away_points = T2.maxA)"""
    q2c = cursor.execute(q2c,(conf_name, conf_name)).fetchall()
    return q2c

conf_name = 'ACC'
q2c = f2c(conf_name)
print(f'The max points scored by any team in {conf_name} week one was:')
for row in q2c:
    print(f'\tHome team {row[1]} scored {row[0]} points while away team {row[3]} scored {row[2]} points')

The max points scored by any team in ACC week one was:
	Home team Appalachian State scored 61 points while away team North Carolina scored 63 points

In [29]:
# You cannot and should not update this cell
conferences = ['ACC', 'Big Tem', 'SEC', 'Pac-12']
for index, conf_name in enumerate(conferences):
    q2c = f2c(conf_name)
    print(f'The max points scored by any team in {conf_name} week one was:')
    for row in q2c:
        print(f'\tHome team {row[1]} scored {row[0]} points while away team {row[3]} scored {row[2]} points')
    print()
    check(f'2c-{index}', q2c, points=5)

The max points scored by any team in ACC week one was:
	Home team Appalachian State scored 61 points while away team North Carolina scored 63 points

2c-0 appears correct
The max points scored by any team in Big Tem week one was:

2c-1 appears correct
The max points scored by any team in SEC week one was:
	Home team Hawai'i scored 10 points while away team Vanderbilt scored 63 points

2c-2 appears correct
The max points scored by any team in Pac-12 week one was:
	Home team USC scored 66 points while away team Rice scored 14 points

2c-3 appears correct

# Done!

Now get your report, save, and submit your notebook. I recommend you restart the kernel, and run all, just to be sure things are going to work correctly when I run it.

In [30]:
# You cannot and should not update this cell
# This cell will produce a summary report of your assignment
assert Author != 'youronyen'
assert Collaborators != ['list', 'their', 'onyens', 'here']
report(Author, Collaborators)

  Collaborators: ['list', 'their', 'onyens']
Report for yuchencc
  20 of 20 appear correct, 100 of 100 points

## Done!
<img src="https://comp421.cs.unc.edu/static/images/restartAndClearOutput.png" width="300" style="float: right" />

Now go back, restart the kernel (menu <font color="green">Kernel</font>-><font color="green">Restart and Clear</font>), and then Shift-Enter your way through the notebook to run all the cells again so you an be sure all your code will work as you expect during grading.

## Saving your work
<img src="https://comp421.cs.unc.edu/static/images/saveAndCheckpoint.png" width="300" style="float: right" />

Now save your work by going to (menu <font color='green'>File</font>-><font color='green'>Save and Checkpoint</font>)

## Submit your notebook

After saving, restarting the kernel, and verifying your report,
you can submit your notebook.
Go to https://comp421.cs.unc.edu/notebook


Note that if you actually saved your work you should not see the leaving site message below.
If you do see the `Leave Site` warning, cancel and save your work again.
<br />
<img src="https://comp421.cs.unc.edu/static/images/leaveSite.png" width="300" style="float: left" />